.profile-container {
    padding: 25px;
}

.profile-form .form-inline {
    margin-bottom: 1.5rem;
}

.profile-form .form-inline label {
    margin-right: 1rem;
}

ul.socials {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.socials li {
    margin-right: 15px;
    display: inline;
}
