.home-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-image-wrapper img {
    height: 500px;
}

.search-form input {
    width: 100%;
}

.top-section {
    padding: 10px 0;
    border-bottom: 1px solid var(--color-grey);
}
