.auth-nav {
    background-color: var(--color-primary);
}

.auth-layout {
    margin-left: 20px;
    padding: 20px;
    border: 1px solid var(--color-primary);
}

.auth-layout .back-icon {
    cursor: pointer;
}
