<div class="card m-4 p-2">
  <span>Thông tin thanh toán</span>
  <div class="row mt-4">
    <div class="col-6">
      <span>Mã dịch vụ: </span>
    </div>
    <div class="col-6">
      <span>Đơn giá: </span>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-6">
      <span>Mã dịch vụ: </span>
    </div>
    <div class="col-6">
      <span>Đơn giá: </span>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-6">
      <span>Mã dịch vụ: </span>
    </div>
    <div class="col-6">
      <span>Đơn giá: </span>
    </div>
  </div>
  <hr />
  <div class="payment-section">
    <div class="row">
      <div class="col-6 d-flex flex-column">
        <span>Hình thức thanh toán: </span>
        <div id="myPaypalButtons"></div>

        <!-- <button class="btn btn-primary my-4 w-50">Ví điện tử</button>
        <button class="btn btn-primary w-50">Thẻ thanh toán quốc tế</button> -->
      </div>
      <div class="col-6">
        <span>Tổng tiền: </span>
      </div>
    </div>
    <div class="payment">
      <button class="btn mr-4">Hủy dịch vụ</button>
      <button class="btn">Thanh toán</button>
    </div>
  </div>
</div>
